body {
  padding-top: 50px;
}

html {
  overflow-y: scroll;
}

.input-group-addon .addon-icon {
  width: 23px;
  font-size: 1.5em;
}

.jumbotron .nuke_symbol {
  font-size: 20em;
  margin-top: -30px;
  margin-bottom: -90px;
}

a#b.btn {
  color: #FFF !important;
}
